* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:hover{
    transition: all 0.7s;
}
p{
    line-height: 1.5;
}

.m1 {
    background-image: url("https://demo.w3layouts.com/demos_new/template_demo/17-12-2018/forest-demo_Free/2069386206/web/images/b2.jpg");
    background-size: cover;
    min-height: 800px;
}

/* .menu {
    background-color: grey;
    border: 3px solid green;
} */


.menu ul {
    overflow: auto;
}

.menu li {
    list-style: none;
    display: inline-block;
    margin: 3px;
    padding: 10px;
    font-size: 17px;
}

.menu li a {
    text-decoration: none;
    color: white;
}

.forest2 a:hover {
    color: #a3c962;
}
.forest2 a:active{
    color: #a3c962;
}

#forest1 {
    padding-left: 100px;
    padding-right: 830px;
    font-size: 40px;
    margin-top: 15px;
}

.global {
    /* background-color: rgb(87, 211, 71); */
    /* border: 3px solid red; */
    color: white;
    display: inline-block;
    width: 750px;
    text-align: center;
    margin-top: 170px;
    margin-left: 400px;
    /* height:300px */
}

#g1 {
    font-size: 30px;
}

#g2 {
    font-size: 46px;
    margin: 0px;
}

#g3 {
    margin-top: 25px;
    font-size: 17px;
}

.button1 a{
    padding: 10px 17px 10px 17px;
    /* margin-top: 50px; */
    cursor: pointer;
    font-size: 17px;
    border-radius: 20px;
}

.button1{
    margin-top: 60px;
}

.button1 a:hover {
    color: white !important;
    background-color: black !important;
}
/* #about:hover{
    background-color: black;
} */
#about {
    background-color: white;
    color: #a3c962;
    border: 2px solid white;
    margin-right:10px ;
}

#join {
    background-color: #a3c962;
    color: white;
    border: 2px solid white;
    padding: 10px 25px;
}

.global a {
    text-decoration: none;
}


/* Second page */
.page2{
    /* margin: 50px 0px 0px 0px;     */
    padding: 50px 0px 0px 0px;
    /* border: 3px solid red; */
}
.secondP{
    /* border: 3px solid red; */
    /* background-color: gray; */
    /* height: 300px; */
    text-align: center;
}
#hp1{
    /* margin-top: 50px; */
    margin-bottom: 10px;
    font-size: 20px;
    color:#a3c962 ;
}
#hp2{
    font-size: 25px;
    margin-bottom: 30px;
}
#hp3{
    /* border: 2px solid gold; */
    font-size: 17px;
    width: 400px;
    margin:0px auto;
    letter-spacing: 1px;
}

.container{
    display: flex;
    flex-wrap: row wrap;
    align-items:flex-start;
}
.cImage{
    margin: 100px 0px 0px 200px;
}
.cContent{
    margin: 100px 0px 0px 100px;
    width: 600px;
    /* border: 2px solid red; */
}
#aboutS{
    color:#a3c962;
    font-size: 22px;
}
#aboutS1{
    /* color: black; */
    letter-spacing: 2px;
    font-size: 20px;
    width: 600px;
    margin: 10px 0px 0px 0px;
    
}
#aboutS2{
    font-size: 17px;
    letter-spacing: 1px;
    width: 600px;
    margin: 15px 0px 0px 0px;
}
.percentage img{
    width:600px;
}

/* page three */
.page3{
    margin: 40px 0px 0px 0px;
    background-image: url(https://demo.w3layouts.com/demos_new/template_demo/17-12-2018/forest-demo_Free/2069386206/web/images/s1.jpg);
    background-size: cover;
    min-height: 750px;
}
.page3-01{
    display: flex;
    /* border: 2px solid red; */
    /* margin: 200px 0px 0px 0px; */
    padding: 70px 100px;
}
.p3-1{
    /* border: 2px solid black; */
    width: 600px;
    text-align: right;
    padding: 0px 0px 0px 150px;
    font-size: 17px;
    color: white;
}
.p3-2{
    /* border: 2px solid black; */
    padding: 0px 0px 0px 50px;
}
#p3-id{
    color: #a3c962;
    font-size: 20px;
}
#p3-id1{
    margin: 5px 0px 0px 0px;
    color: white;
    font-size: 35px;
}
.page3-f0{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.page3--1{
    background-color: white;
    width: 333px;
    height: 250px;
    margin: 0px 0px 30px 50px;
    padding: 10px;
}
.page3--1 i{
    font-size: 40px;
    /* text-align: center; */
    padding: 30px 0px 20px 140px;
}
.pl-11{
    color: #a3c962;
    text-align: center;
    padding: 0px 0px 20px 0px;
    font-size: 25px;
}
.pl-22{
    letter-spacing: 1px;
    text-align: center;
    font-size: 17px;
}

/* Fourth Page */
.page4-01{
    /* border: 3px solid black; */
    height: 150px;
    margin: 20px 20px;
    display: flex;
}
.page4--1{
    /* border: 3px solid black; */
    width: 400px;
    margin: 50px 0px 0px 270px;
    text-align: right;
}
#four-1{
    color: #a3c962;
    font-size: 22px;
}
#four-2{
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: 1px;
}
.page4--2{
    /* border: 3px solid black; */
    margin: 50px 0px 0px 20px;
    width: 600px;
    font-size: 17px;
}
.gallery{
    /* border: 3px solid black; */
    margin: 50px 0px 50px 150px;
    padding: 20px;
    width: 1300px;
    /* width: 1400px; */
}
.gallery1{
    padding: 10px;
    display: inline-block;
}

/* Fifth Page */
.page5-01{
    /* border: 3px solid red; */
    /* background-color: rgb(152, 194, 75); */
    background-color:#a3c962;;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
}
.p5--1{
    /* border: 3px solid black; */
    margin: 40px 50px 0px 50px;
    width: 100px;
    padding: 10px;
    text-align: center;
}
.p5-1-01{
    color: white;
    font-size: 22px;
}
.p5--1 i{
    color: white;
    font-size: 25px;
}
.p5-1-00{
    font-size: 21px;
    margin: 10px 0px;
}
.page5-02, .p7-01, .p8-01, .p10-01{
    /* border: 3px solid black; */
    height: 100px;
    margin: 70px 0px 0px 0px;
    display: flex;
}
.p5-02-1, .p7-01-01, .p8-01-01, .p10-01-01{
    /* border: 3px solid red; */
    margin: 40px 0px 0px 220px;
    text-align: right;
    width: 450px;
    font-size: 17px;
    /* line-height: 1.3; */
    letter-spacing: 1px;
}
.p5-02-2, .p7-01-02, .p8-01-02, .p10-01-02{
    /* border: 3px solid red; */
    margin: 30px 0px 0px 40px ;
}
.p5-02-2 h4, .p7-01-02 h4, .p8-01-02 h4, .p10-01-02 h4{
    color: #a3c962;
    font-size: 20px;
}
.p5-02-2 h3, .p7-01-02 h3, .p8-01-02 h3, .p10-01-02 h3{
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 400;
}

.page5-03{
    /* border: 3px solid blue; */
    /* height: 600px; */
    margin: 30px 0px 0px 0px;
    display: flex;
}
.p5-03-1{
    margin: 30px 0px 0px 200px;
}
.p5-03-2{
    /* border: 3px solid black; */
    display: flex;
    flex-flow: column wrap;
    /* height: 800px; */
    margin: 30px 0px 0px 90px;
    justify-content: right;
}
/* .p5-03-11{

} */
.p5-03-11-1{
    /* border: 3px solid red; */
    height: 140px;
    width: 600px;
    margin: 0px 0px 10px 0px;
    display: flex;
    box-shadow: 0px 7px 20px 9px gray;
    border-radius: 8px;
}
.p5-03-11-2{
    /* border: 3px solid red; */
    height: 140px;
    width: 570px;
    margin: 10px 0px 20px 30px;
    display: flex;
    box-shadow: 0px 7px 20px 9px gray;
    border-radius: 8px;
    /* align-items: center; */
}
.p5-logo{
    font-size: 35px;
    /* border: 3px solid green; */
    margin: 50px 70px;
}
.p5-para h3{
    color: #a3c962;
    font-size: 25px;
    margin: 15px 0px;
}
.p5-para p{
    font-size: 17px;
}

/* Sixth Page */
.page6{
    background-image: url("https://demo.w3layouts.com/demos_new/template_demo/17-12-2018/forest-demo_Free/2069386206/web/images/b2.jpg");
    background-size: cover;
    min-height: 680px;
}
.p6-01, .p9-01{
    /* border: 3px solid red; */
    height: 130px;
    margin: 30px 0px 0px 0px;
    display: flex;
}
.p6-01-1, .p9-01-1{
    margin: 70px 0px 0px 550px;
    text-align: right;
    /* border: 3px solid black; */
}
.p6-01-1 h4, .p9-01-1 h4{
    color: #a3c962;
    font-size: 23px;
    letter-spacing: 1px;
    padding: 0px 0px 10px 0px;
}
.p6-01-1 h3, .p9-01-1 h3{
    font-size: 40px;
    color: white;
    letter-spacing: 1.5px;
    font-weight: 200;
}
.p6-01-2, .p9-01-2{
    /* border: 3px solid black; */
    margin: 75px 0px 0px 20px;
    color: white;
}
.p6-01-2 p, .p9-01-2 p{
    font-size: 17px;
    width: 500px;
}
.p6-02{
    /* border: 3px solid red; */
    height: 400px;
    width: 1150px;
    margin: 100px 0px 50px 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.p6-02-01{
    /* border: 3px solid blue; */
    height: 370px;
    width: 250px;
    background-color: white;
    text-align: center;
}
.p6-02-01 h3{
    color: #a3c962;
    font-size: 23px;
    /* text-align: center; */
    padding: 25px 0px;
}
.p6-02-01 p{
    font-size: 13px;
    color: #969696;
    letter-spacing: 1.5px;
    font-weight: 100;
    padding: 0px 80px;
    line-height: 2;
}
.p6-02-01 h4{
    padding: 0px 0px 25px 0px;
}
.dollar{
    font-size: 18px;
}
.paisa{
    color: #a3c962;
    font-size: 30px;
}
.maina{
    font-size: 20px;
    font-weight: 50;
    letter-spacing: 1px;
}
.p6-button{
    margin: 40px 0px;
}
.p6-button a{
    background-color: #a3c962;
    color: white;
    font-size: 17px;
    border-radius: 20px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 1px;
}
.p6-button a:hover{
    color: white;
    background-color: black;
}

/* Seventh Page */
.p7-01{
    margin: 40px 0px 40px 0px;
}
.p7-02{
    /* border: 3px solid black; */
    /* height: 400px; */
    margin: 0px 200px;
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
}
.p7-02-01{
    /* border: 3px solid red; */
    width: 330px;
}
.p7-image1{
    background-color: #fff;
    border: 2px solid #dee2e6;
    border-radius: 5px;
    /* max-width: 100%;
    height: auto; */
    padding: 3px;
}
.p7-02-01 h3{
    color: #a3c962;
    font-size: 22px;
    padding: 18px 0px 0px 0px;
    letter-spacing: 1px;
    font-weight: 700;
}
.p7-02-01 h5{
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 150;
    padding: 5px 0px 15px 0px;
}
.p7-02-01 p{
    color: #4c4c4c;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}
.p7-videoP{
    /* border: 3px solid red; */
    height: 290px;
    background-color: #a3c962;
    margin: 70px 0px 50px 0px;
    text-align: center;
}
.bRadius{
    /* border: 1px solid white; */
    width: 40%;
    margin: 0px auto;
    
}
.bRadius a{
    font-size: 35px;
    color: black;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    width: 67px;
    height: 63px;
    padding: 12px 0px 0px 0px;
    margin: 40px 0px;
}
.p7-videoP h4{
    color: white;
    font-size: 32px;
    font-weight: 500;
}
.p7-videoP p{
    color: #4c4c4c;
    padding: 10px 0px 0px 0px;
    font-size: 16px;
    letter-spacing: 1px;
}
.bRadius a:hover{
    background-color: black;
    color: white;
    transition: all 1s;
}

/* Eighth Page */

.p8-02{
    /* border: 3px solid black; */
    height: 480px;
    display: flex;
    justify-content: space-evenly;
    width: 1150px;
    margin: 40px 150px;
}
.p8-02-01{
    /* border: 3px solid red; */
    width: 270px;
    text-align: center;
}
.p8-02-01 h3{
    color: #a3c962;
    font-size: 22px;
    font-weight: 700;
    padding: 15px 0px 5px 0px;
}
.p8-02-01 p{
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}
/* .p8-logo{
    background-color: black;
} */
.p8-02-01 i{
    /* color: black; */
    background-color: blue;
    color: white;
}
.p8-logo{
    /* border: 3px solid red; */
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto;
    width: 200px;
}
.p8-02-logo i{
    border: 3px solid black;
    background-color: black;
    color: white;
    font-size: 17px;
    border: 10px solid black;
    border-radius: 50%;
    width: 39px;
}
.p8-02-logo i:hover{
    color: #a3c962;
}

/* Nineth Page */
.page9{
    background-image: url("https://demo.w3layouts.com/demos_new/template_demo/17-12-2018/forest-demo_Free/2069386206/web/images/b1.jpg");
    background-size: cover;
    min-height: 750px; 
}
.p9-02{
    /* border: 3px solid white; */
    height: 470px;
    margin: 80px 160px;
    display: flex;
    justify-content: space-evenly;
    width: 1200px;
}
.p9-02-01{
    /* border: 3px solid red; */
    width: 350px;
    background-color: white;
    padding: 15px 15px 10px 15px;
}
.p9-images{
    max-width: 100%;
    height: auto;
}
.p9-02-01 h6{
    font-size: 17px;
    font-weight: 100;
    padding: 10px 0px;
}
.p9-02-01 h3{
    color: #a3c962;
    font-size: 22px;
    letter-spacing: 1px;
    padding: 0px 0px 20px 0px;
}
.p9-02-01 p{
    color: #4c4c4c;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    padding: 0px 0px 15px 0px;
}
.p9-flex{
    /* border: 3px solid red; */
    display: flex;
    justify-content: space-between;
}

/* Tenth Page */
.p10-01{
    margin: 20px 0px;
}
.p10-02{
    /* border: 3px solid black; */
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    width: 1100px;
    margin: 60px 150px 6px 150px;
}
.p10-02-01{
    /* border: 3px solid red; */
    width: 500px;
}
.p10-form{  
    padding: 0px 0px 20px 0px;
}
.p10-form input, .p10-form textarea{
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #efefef;
    padding: .9em .7em;
    border: 3px solid #efefef;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    resize: none;
    box-shadow: 0px 1px 1px 0px black;
}
.p10-form input:focus, .p10-form textarea:focus{
    transition: 1s;
    outline: none;
    box-sizing: border-box;
    /* border: none; */
    box-shadow: 0px 0px 0px 0px white;
    border: 3px solid rgb(46, 151, 236);   
}
.p10-form button{
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: #a3c962;
    font-size: 14px;
    letter-spacing: 2px;
    outline: none;
    width: 100%;
    /* height: 40px; */
    border-radius: 20px;
    border: 2px solid #fff;
    padding: 10px 0px;
}
.p10-last{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.p10-contact{
    /* border: 3px solid green; */
    width: 1100px;
    height: 130px;
    margin: 0px 0px 4px -40px;
    display: flex;
}
.p10-contact-01{
    /* border: 2px solid red; */
    width: 180px;
}
.p10-contact-01 i{
    font-size: 35px;
    margin: 30px 105px;
}
.p10-contact-01 h3{
    color: #a3c962;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0px 0px 15px 0px;
}
.p10-contact-01 p{
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    line-height: 2;
}
.p11-01{
    border: 1px solid rgb(241, 227, 227);
    height: 410px;
    padding: 10px;
}
.p11-02{
    /* border: 3px solid black; */
    margin: 10px 0px 0px 0px;
    height: 200px;
    background-color: #a3c962;
}
.p11-02-01 p{
    color: white;
    text-align: center;
    font-size: 17px;
    letter-spacing: 1px;
    padding: 10px 0px;
}
.p11-02-01 a{
    text-decoration: none;
    color: black;
}
.p11-02-01 a:hover{
    text-decoration: underline;
    color: white;
}
.p11-03{
    /* border: 3px solid red; */
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin: 15px auto;
}
.p11-03-1 i{
    /* border: 3px solid black;
    background-color: black;
    color: white;
    font-size: 17px;
    width: 31px;
    padding: 3px 0px 0px 5px;
    height: 29px;
    border-radius: 100%; */

    border: 3px solid black;
    background-color: black;
    color: white;
    font-size: 17px;
    border: 10px solid black;
    border-radius: 50%;
}
.p11-03-1 i:hover{
    color: #a3c962;
}
#p11-id{
    padding: 0px 3px;
}
#p11-id1{
    padding: 0px 0px 0px 0px;
}
#p11-id2{
    padding: 0px 1px 1px 3px;
}
#p11-id3{
    padding: 0px 0px 0px 0px;
}
.p11-arrow{
    text-align: center;
    margin: 5px 0px;
}
.p11-arrow i{
    border: 5px solid black;
    background-color: black;
    color: white;
    /* width: 49px; */
    /* height: 30px; */
    font-size: 20px;
    border-radius: 50%;
    padding: 4px 7px 6px 6px;
}
.p11-arrow i:hover{
    transition: 0.2s;
    color: #a3c962;
}